@import '../abstract/variables';

form {
  height: 31.938rem;
  .birthdayTitle {
    font-size: $title-font-size;
    padding-top: 2.125rem;
  }
  .form-group {
    padding: 1.063rem 0;
    label {
      font-size: $label-font-size;
      color: $main-font-color;
      margin-bottom: 0.25rem;
    }
    .form-control {
      font-size: $input-font-size;
      color: $main-font-color;
      border: 2px solid $border-color;
      position: relative;
    }
    .form-select {
      font-size: $input-font-size;
      color: $main-font-color;
      border: 2px solid $border-color;
    }
    .form-check-input {
      width: 1.25rem;
      height: 1.25rem;
      border-radius: 2px;
      box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
      margin-right: 0.5rem;
    }
    .form-check-label {
      color: $title-font-color;
      text-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    .form-control--certificates {
      border-right: none;
      border-radius: 5px 0px 0px 5px;
      &:disabled {
        background-color: #f6f6f6;
      }
    }
    .certificate-buttons {
      border: 2px solid $border-color;
      border-radius: 0px 5px 5px 0px;
      border-left: none;
      background-color: white;
      
      i {
        font-size: 1rem;
        text-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
      }
      
      &:disabled {
        background-color: #f6f6f6;
      }
    }

    .invalid {
      border-color: $error-color;
    }
    .hidden {
      display: none;
    }
    .error-messages {
      font-size: 0.8rem;
      color: $error-color;
      margin: 0.25rem 0 0 0.2rem;
    }
    .error-messages-button-next {
      text-align: right;
    }

    .margin-edit-icon {
      margin: 0 0.75rem 0 0.75rem;
    }
  }
  
  .blue-button-container {
    margin-top: 1.313rem;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    
    .blue-button { // ? applies to every single button in the page as all of them are blue
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
    }
    .button-next-margin {
      margin-right: 0.75rem;
    }
    .button-more-margin {
      margin-left: 0.5rem;
      margin-right: 0.75rem;
    }
    .button-finish-margin {
      margin-left: 0.5rem;
    }
  }
}