@import '../abstract/variables';

header {
    .form-title  {
        font-family: "Inter", sans-serif;
        font-size: $title-font-size;
        color: $title-font-color;
        font-weight: 600;
    }
    .nav {
        width: 100%;
        text-align: center;
        margin: 2rem 0;
    }
}

@media screen and (max-width: 426px) {
    .form-title {
        text-align: center;
    }
}