@import './variables';

body {
  margin: 0 auto;
  height: 47.688rem;
  max-height: 47.688rem;
  max-width: 38.563rem;
  font-family: $standard-font;
  padding: 3.125rem 3.25rem;
  border: 5px solid lightblue;
}