// ? Fonts
$standard-font: "Nunito";

// ? Font sizes
$label-font-size: 0.875rem;
$input-font-size: 1rem;
$title-font-size: 1.125rem;

// ? Colors
$main-font-color: #787878;
$title-font-color: #111111;
$blue: #074EE8;
$border-color: #AAAAAA;